# Dependencies
node_modules/
/.pnp
.pnp.js

# Environment Variables
.env
.env.*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local
*.env
!*.env.example

# Build and Generated Outputs
dist/
.output/
.tanstack/
.wrangler/
.vercel/
coverage/
.nitro/

# Local database file
data/
*.db.json

# Cache and Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log
.eslintcache

# IDE and OS
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
